/* BASIC */


h1,h2,h3, .h1, .h2, .h3{
    font-family: 'DM Serif Display', serif;
}


:root{
    --dark: rgb(30, 30, 30);
    --dark2: rgb(40, 40, 40);
    --white: rgb(237, 237, 233);
    --orange: hsl(40, 35%, 60%);
    --metal: hsl(40, 35%, 40%);
    --green: hsl(84, 28%, 55%);
    --greend: rgb(100, 110, 70);
    --lightg: rgb(201, 201, 201);
    --darkg: rgb(128, 128, 128);
    --titles: 'DM Serif Display', serif;

}


.text--dark{
    color: var(--dark);
}
.bg--dark{
    background-color: var(--dark);
}
.bg--dark2{
    background-color: var(--dark2);
}
.text--dark2{
    color: var(--dark2);
}
.bg--white{
    background-color: var(--white);
}
.text--white{
    color: var(--white);
}
.bg--orange{
    background-color: var(--orange)!important;
}
.text--orange{
    color: var(--orange);
}
.bg--metal{
    background-color: var(--metal);
}
.text--metal{
    color: var(--metal);
}
.bg--green{
    background-color: var(--green);
}
.text--green{
    color: var(--green);
}
.bg--lightg{
    background-color: var(--lightg);
}
.text--lightg{
    color: var(--lightg);
}
.bg--darkg{
    background-color: var(--darkg);
}
.text--darkg{
    color: var(--darkg);
}

.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}

.small{
    font-size: small;
}

body{
    background-color:var(--dark);
    color: var(--white);
    font-family: 'Bitter', serif;
}

.vh75{
    height: 75vh;
}

/* NAVBAR */

.vertical-line{
    height: 30px;
    width: 2px;
    background-color: var(--metal);
}

.fa-15x{
    transform: scale(1.5);
    
}

.navbar-toggler{
    border: 2px solid var(--white);
}

a{
    text-decoration: none;
    color: var(--lightg)!important;
}

a:hover{
    text-decoration: none;
    color: var(--lightg);
}

a:visited{
    text-decoration:none;
    color: var(--lightg)!important;
}


.titles{
    font-family: var(--titles);
    color: var(--orange);
    text-shadow: 1px 1px 5px var(--dark);
}

.titlespag{
    font-family: 'DM Serif Display', serif;
    color: var(--metal);
    border-bottom: var(--green);
    border-radius: 0px;
    /* background-color: var(--dark2); */
}
.shadow-green{
    box-shadow: 0 3px 3px 0 rgba(black, 1);
    /* border-radius: 25px; */
    padding: 5px;
    border-bottom: 3px solid var(--green)!important;
    background-color: var(--dark);
    
}
.shadow-red{
    box-shadow: 0 3px 3px 0 rgba(black, 1);
    /* border-radius: 25px; */
    padding: 5px;
    border-bottom: 3px solid red!important;
    background-color: var(--dark);
    
}

.shadow{
    box-shadow: 0 3px 3px 0 rgba(black, 1);
    border-radius: 25px;
    padding: 5px;
    border-bottom: 3px solid var(--metal);
    background-color: var(--dark);
    
}
.searchbar{
    width: 50vw;
    background-color: var(--white);
    border-radius: 40px !important;
}


.navbar{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 25px !important;
    width: 85%;
}

 .navbar-collapse, .collapse{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    background-color: var(--dark);
    color: var(--white);
    
} 

.posinavbar{
    position:absolute;
    z-index: 5;
    bottom: 28vh;
}

.linknav{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

.bgnav2{
    background-color: var(--dark);
    height: 5vh;
    position: fixed;
    top: 0vh;
    z-index: 6;
    border-bottom: 2px solid var(--metal);
    width:100%;
}

.btnNav{
    color: var(--white);
    background-color: var(--dark);
    text-decoration: none;
    border: none;

}

.btnNav:hover{
    color: var(--metal);
}

.dropdown-item, .dropdown-menu{
    background-color: var(--dark);
}

/* HEADER */


.posirelative{
    position: relative;
}

.posiabsolute{
    position:absolute;
    z-index: 15;
    height: 80vh;
}

.bgheader{
    background-color: var(--metal);
    height: 5vh;
    position: absolute;
    top: 37vh;
    z-index: 5;
}

.customheader{
    max-width: 100%;
    background-position: 40%;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0px;
    filter: grayscale(1);
    border-bottom: 2px solid var(--metal);
    
}

.customheader:hover{
    filter: none;
}


.posititle{
    position:absolute;
    z-index: 5;
    margin-top: -65vh;
    margin-left: 0vw;
}
.posipayoff{
    position:absolute;
    z-index: 5;
    margin-top: -50vh;
    margin-left: 0vw;
}
.posi-btn-header{
    position:absolute;
    z-index: 5;
    margin-top: -23vh;
    margin-left: -8vw;
}

.btn-header{
     width: 15%;
     border-radius: 25px;
     border: 0px solid var(--metal);
     height: 5vh;
     background-color: var(--metal);
     /* width: 100%; */
     font-size: small;
     text-align:center;
     padding-right: 5px;
     padding-left: 5px;
     padding-bottom: 5px;
}

@media screen and (max-width:992px){
    .posi-btn-header{
        position:absolute;
        z-index: 5;
        margin-top: -23vh;
        margin-left: -15vw;
    }
    
    .btn-header{
         width: 30%;
         border-radius: 25px;
         border: 0px solid var(--metal);
         height: 4vh;
         background-color: var(--metal);
         /* width: 100%; */
         font-size: medium;
         text-align:center;
         padding-right: 5px;
         padding-left: 5px;
         padding-bottom: 5px;
    }
    
}
@media screen and (max-width:576px){
    .posi-btn-header{
        position:absolute;
        z-index: 5;
        margin-top: -23vh;
        margin-left: -20vw;
    }
    
    .btn-header{
         width: 40%;
         border-radius: 25px;
         border: 0px solid var(--metal);
         height: 4vh;
         background-color: var(--metal);
         /* width: 100%; */
         font-size: small;
         text-align:center;
         padding-right: 5px;
         padding-left: 5px;
         padding-bottom: 5px;
    }
    
}


.headtitle{
    /* font-family: var(--titles); */
    color: var(--dark);
    font-weight: 500;
    text-shadow: 3px 3px 1px var(--metal);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--metal);
    filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.582));
}
.font-size-payoff{
    font-size: larger;
    font-style: italic;
    font-weight:500;
    color: var(--white);
    text-shadow: 3px 2px 3px var(--dark);
    /* -webkit-text-stroke-width: 1px; */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.582));
}



/* CARD */
@media only screen and (min-width:576px) {
    .card-responsive{
        display: flex;
        justify-content: center;
    }
   
    
}


.card-welcome {
  background: var(--dark2);
  border-radius: 8px;
  border: 2px solid var(--metal);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 400px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 260px;

}
@media (max-width: 767px) {
  .card-welcome {
    left: calc(50% - 20px);
    transform: translateX(-50%);
  }
}
.card-welcome.expanded {
  height: 550px;
}
.label-welcome {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}
.card-welcome.expanded .label-welcome {
  transform: translateY(0);
}

.text-content {
  transform: translateY(-250px);
  transition: transform 1000ms;
}
.card-welcome.expanded .text-content {
  transform: translateY(10px);
}
.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}
.card-welcome.expanded .chevron {
  transform: rotate(0deg);
}
.title {
    font-family: 'DM Serif Display', serif;
  /* font-weight: 900; */
  font-size: x-large;
  margin: 20px 0 12px;
  /* -webkit-text-stroke: 1px var(--metal); */
  color: var(--metal);
}
.title-2{
    position: relative;
    z-index: 6;
}
.body-text {
  padding: 0 20px;
}
.card-custom{
    width: 70%;
    background: var(--dark2);
    border: 2px solid var(--dark2);
    padding: 5px;
    border-radius: 20px;
    filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.582));
}

.img-card{
    position: relative;
    z-index: 5;
}



/* bottoni */

.btnbg{
    /* color: var(--dark); */
    border-bottom: 2px solid var(--orange);
    border-radius: 25px;
    height: 5vh;
    /* width: 100%; */
    font-size: medium;
    text-align:center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.btnbg:hover{

    color: var(--metal);
    border-bottom: 2px solid var(--metal);
    border-radius: 25px;
    height: 5vh;
    font-size: medium;
    text-align:center;
}

.btnbgRevisor{
    
    border:none;
    border-bottom: 2px solid var(--orange);
    border-radius: 25px;
    height: 5vh;
    width: 120px;
    font-size: large;
    text-align:center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;

}

.btnbgRevisor:hover{

    border-bottom: 2px solid var(--metal);
    border-radius: 25px;
    height: 5vh;
    font-size: large;
    text-align:center;
}

#btndiv{
    position:relative;
}
.btncircle{
    border-radius:50%;
    border: 3px solid var(--metal);
    height: 40px;
    width: 40px;
    position: absolute;
    top: -2vh;
    right: -2vh;
    z-index: 4;
    display: flex;
    justify-content: center;
}


/* .btncircleADD{
    border-radius:50%;
    position: fixed;
    z-index: 10;
   top: 75vh;
   right: 2vw;
   
}

.btncircleUP{
    border-radius:50%;
    position: fixed;
    z-index: 10;
    top: 90vh;
    right: 2vw;
    
} */



.btncircleADD{
    border-radius:50%;
    position: absolute;
    z-index: 10;
    bottom: 40px;
}

.btncircleUP{
    border-radius:50%;
    position: absolute;
    z-index: 10;
    bottom: 5px;
}




/* swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: var(--dark);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.img-custom-card{
    height: 60%;
    padding: 2px;
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


  /* pagina dettaglio */

  .carousel-inner{
    margin: 0px ;
  }

.card-custom-det{
    height: 66vh;
    position: absolute;
    left: 30vw;
    background: linear-gradient(to right, rgba(40,40,40,0.3) , rgba(40,40,40,1));
    padding: 3px;
    border-radius: 25px 0px 0px 25px;

}
.card-custom-detright{
    position: relative;
    background: linear-gradient(to left, rgba(40,40,40,0.8) , rgba(40,40,40,1));
    padding: 3px;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 32px 0px 20px 0px rgba(40,40,40,0.8);
    z-index: 3;
    height: 66vh;
    margin-top: 0vh;
    left: -20vw;
    /* opacity: 0.7; */
}
.card-custom-det-res{
    height: 30vh;
    width: 100%;
    /* position: absolute; */
    /* background: linear-gradient(to top, rgba(40,40,40,0.3) , rgba(40,40,40,1)); */
    /* padding: 3px; */
    /* border-radius: 0px 0px 25px 25px; */

}
.card-custom-detright-res{
    height: 50vh;
    width: 100%;
    /* position: relative; */
    /* background: linear-gradient(to bottom, rgba(40,40,40,0.8) , rgba(40,40,40,1)); */
    /* padding: 3px; */
    border-radius: 0px 0px 25px 25px;
    z-index: 3;
    margin-top: 10vh;
    
    /* box-shadow: 32px 0px 20px 0px rgba(40,40,40,0.8); */
    /* opacity: 0.7; */
}



/* prova det swiper */

.img-preview{
    height: 260px;
    width: 260px;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item{
    height: 60vh;
    margin-top: 0vh;

}
.btn-revisor{
    width: 50%;
    border-bottom: 2px solid var(--metal);
    border-radius: 25px;
    color: var(--metal);

}
.border-metal{
    border: 2px solid var(--metal);
}

.text-form{
    font-size: large;
    color: var(--orange);
}


/* background forms */

.bgLogin{
    background: linear-gradient(rgba(30,30,30,1) , rgba(30,30,30,0), rgba(30,30,30,1)), url('../../public/media/vinyls.jpeg');
    background-repeat: no-repeat;
    background-position-x:left;
}

.bgRegister{
    background-image: linear-gradient(rgba(30,30,30,1) , rgba(30,30,30,0.6), rgba(30,30,30,1)), url('../../public/media/typewriter.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bgArtForm{
    background: linear-gradient(rgba(30,30,30,1) , rgba(30,30,30,0.6), rgba(30,30,30,1)), url('../../public/media/oldcamera.jpeg');
    background-position-y: 50%;
    background-position-x: 10%;
}

.bgArtIndex{
    background: linear-gradient(rgba(30,30,30,1) , rgba(30,30,30,0.6), rgba(30,30,30,1)), url('../../public/media/Metal046B_2K_Color.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.bgCategory{
    background: linear-gradient(rgba(30,30,30,1) , rgba(30,30,30,0.6), rgba(30,30,30,1)), url('../../public/media/Metal046B_2K_Color.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.bgShow{
    background: linear-gradient(rgba(30,30,30,1) , rgba(30,30,30,0.6), rgba(30,30,30,1)), url('../../public/media/Metal046B_2K_Color.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}


/* form */

@media  screen and (max-width:992px) {
    .form-responsive{
        margin-top: 3vh;
        padding-top: 3vh;
    }
    
}

.bgform{
    background-color: var(--dark2);
    border-radius: 25px;
    padding: 25px;
}


.form-label{
    font-family: 'Bitter', serif;

}

.form-control{
    background-color: var(--dark2);
    color: var(--white);
    border: none;
    border-bottom: 2px solid var(--metal);
}
.form-control-navbar{
    background-color: var(--dark2);
    color: var(--white);
    border: none;
}
.form-control-navbar:focus{
    background-color: var(--dark2);
    color: var(--white);
    border: none;
}

.form-control:focus{
    background-color: var(--dark2);
    color: var(--white);
    border: none;
    border-bottom: 2px solid var(--orange);
}

.form-control:active{
    border-color: none;
}

/* pagination */

.pagination > li > a
{
    background-color: var(--dark2);
    color: var(--white);
    border-color: none;
    border: 1px solid var(--darkg);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: var(--white);
    background-color: var(--dark);
    border-color: none;
}

.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover { 
    background-color: var(--dark); 
    border-color: var(--white) ; 
}



/* media query */
@media only screen and (max-width: 992px){

    /* media query card det */
    .card-custom-detright{
        left: -25vw;
        background: linear-gradient(to left, rgba(40,40,40,0.8) , rgba(40,40,40,1));
        padding: 3px;
        border-radius: 25px 0px 0px 25px;
    
    }

    .card-custom-det{
        background: linear-gradient(to right, rgba(40,40,40,0.3) , rgba(40,40,40,1));
        padding: 3px;
        left: 25vw;
        border-radius: 25px 0px 0px 25px;
    
    }

    /* media query navbar */
    #homenav{
        display: none;

    }

    #navbarCat{
        display: visible;
        width: 100% !important;
        border-radius: 0px !important; 
        height: 8vh;
    }

    #cats{
        display: none;
    }
}

@media only screen and (min-width:885px){

    #navbarCat{
        display:none;
    }
}

@media only screen and (max-width: 1200px){
    #homenav{
        width: 90%;
        border-radius: none;
        /* height: 8vh; */
    }
}

@media screen and (max-width:768px){
    .border-smartphone{
        border: 1px solid var(--metal);
        border-radius: 10px;
        padding: 5px;
        background-color: var(--dark2);

    }
    .display-res-lg{
        display: none;
    }
    

    
}
@media screen and (min-width:768px) {
    
    .display-res{
        display: none;
    }
}

